@page "/cardsheet"
<PageTitle>CardSheet</PageTitle>

@using Leng.Domain
@using Leng.Domain.Models


@using MudBlazor


<h3>CardSheet</h3>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudAutocomplete T="string" 
            Label="MTG Sets" 
            SearchFunc="@SetSearch" 
            Margin="Margin.Dense" 
            Dense="true" 
            Variant="Variant.Outlined" 
            ResetValueOnEmptyText="true" 
            CoerceText="true" 
            Value="selectedSet" 
            ValueChanged="OnSetSelected">

            <ProgressIndicatorTemplate>
                <MudProgressLinear Size="Size.Medium" Indeterminate="true" Color="Color.Default" />
            </ProgressIndicatorTemplate>

        </MudAutocomplete>
    </MudItem>
</MudGrid>


@if (selectedSet != null)
{
    <p>Selected set: @selectedSet</p>

    @if (cards != null)
    {
        <MudDataGrid Items="@sheet" Virtualize="true" Height="500px" Hover=true Dense=true FixedHeader=true SortMode="SortMode.Multiple" EditMode="DataGridEditMode.Cell" EditTrigger="DataGridEditTrigger.OnRowClick" T="ShowSheet" ReadOnly=false CommittedItemChanges="CommittedItemChanges">
            <Columns>
                <Column T="ShowSheet" Field="setCode" Title="SetCode" IsEditable="false" />
                <Column T="ShowSheet" Field="number" Title="Nr" IsEditable="false" CellStyle="max-width: 70px" /> <!-- @*SortBy="@SortBySetNumber"*@ -->
                <Column T="ShowSheet" Field="name" Title="Name" IsEditable="false" /> <!-- TODO: Add CellStyleFunc="@_cellStyleFunc" to color the cell according to the cards colors. -->
                <Column T="ShowSheet" Field="count" Title="Count" CellStyle="max-width: 70px" />
                <Column T="ShowSheet" Field="countFoil" Title="CountFoil" CellStyle="max-width: 70px" />
                <Column T="ShowSheet" Field="want" Title="want" CellStyle="max-width: 70px" />
                <Column T="ShowSheet" Field="wantFoil" Title="wantFoil" CellStyle="max-width: 70px" />
            </Columns>
        </MudDataGrid>
    }
}
