@page "/cardsearch"
<PageTitle>CardSearch</PageTitle>

@using MudBlazor
@using Leng.Domain
@using Leng.Domain.Models

<h3>CardSearch</h3>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudAutocomplete T="string"
                         Label="MTGCard"
                         SearchFunc="@SearchForCard"
                         Margin="Margin.Dense"
                         Dense="true"
                         Variant="Variant.Outlined"
                         ResetValueOnEmptyText="true"
                         CoerceText="true"
                         Value="_selectedCard"
                         ValueChanged="OnCardSelected">

            <ProgressIndicatorTemplate>
                <MudProgressLinear Size="Size.Medium" Indeterminate="true" Color="Color.Default" />
            </ProgressIndicatorTemplate>

        </MudAutocomplete>
    </MudItem>
</MudGrid>

@if (_selectedCard != null) {
    <p>Selected card: @_selectedCard</p>

    @if (cards != null) {
        <MudDataGrid Items="@sheet" Virtualize="false" Hover=true Dense=true FixedHeader=true SortMode="SortMode.Multiple" ReadOnly=false EditMode="DataGridEditMode.Cell" EditTrigger="DataGridEditTrigger.OnRowClick" T="ShowSheet" CommittedItemChanges="CommittedItemChanges">
            <Columns>
                <TemplateColumn IsEditable="false">
                    <CellTemplate>
                        <MudElement>@context.Item.setCode</MudElement>
                        <MudElement>@context.Item.number</MudElement>
                        <MudMenu Icon="@Icons.Material.Outlined.Photo" Size="@Size.Small" ActivationEvent="@MouseEvent.MouseOver">
                            <ChildContent>
                                <MudMenuItem>
                                    <div class="popover-content">
                                        <img src="@context.Item.cardImageUrl" />
                                    </div>
                                </MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x => x.name" Title="Name" IsEditable="false" /> <!-- TODO: Add CellStyleFunc="@_cellStyleFunc" to color the cell according to the cards colors. -->
                <PropertyColumn Property="x => x.count" Title="Count" CellStyle="max-width: 70px" />
                <PropertyColumn Property="x => x.countFoil" Title="CountFoil" CellStyle="max-width: 70px" />
                <PropertyColumn Property="x => x.want" Title="want" CellStyle="max-width: 70px" />
                <PropertyColumn Property="x => x.wantFoil" Title="wantFoil" CellStyle="max-width: 70px" />
            </Columns>
        </MudDataGrid>
    }
}